<nav>
     <div class="site-title" >
          <a href="/">  <h1>Blog Ninja</h1> </a>
         <p>A net Ninja Site</p>
         </div>
<h1>About To start node.js Mastery!!</h1>
<ul>
<li> <a href="/">Home Page</a></li>
<li> <a href="/about">About Page</a></li>
<li> <a href="/blogs/create">New Blog</a> </li>
</ul>
</nav>