<html lang="en">


 <%-  include('./partials/header.ejs') %> 
<body>
     
        
     <%- include('./partials/nav.ejs')  %>  

     <div class="about content">

<h2>About us</h2>
<p> Lorem ipsum dolor sit amet consectetur 
     \adipisicing elit. Suscipit recusandae 
     commodi officia tenetur iure vel deleniti
      maiores neque alias dolore, velit numquam 
      qui tempora 
     fuga itaque nihil illum, quibusdam dolorum!</p>
     <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae magni recusandae, tempore repellendus vero explicabo fugit qui maiores ipsam. Aspernatur nam minus sed ducimus, 
          et quod facere animi expedita adipisci?</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque natus cum illo maiores, tenetur, impedit porro assumenda magni exercitationem facere recusandae beatae! Vitae, reprehenderit facilis nisi est veniam animi. Illo?</p>

     </div>

     <%- include('./partials/footer.ejs')  %> 
</body>
</html>